@import 'tailwindcss';

:root {
    --color-primary: #181823;
    --color-secondary: #f3f4f4;
    --color-container: #15151f;
}

body {
    min-height: 100vh;
    font-family: 'Wix Madefor Text', 'Wix Madefor Text Fallback', system-ui, sans-serif;
    background-color: var(--color-primary);
}
#root {
    min-height: 100vh;
}

@theme {
    --animate-danger-glow: danger-glow 1.2s ease-in-out infinite;

    @keyframes danger-glow {
        0%,
        100% {
            box-shadow: 0 0 5px rgba(59, 130, 246, 0.3);
        }
        50% {
            box-shadow: 0 0 20px rgba(59, 130, 246, 1);
        }
    }
}
