@import "tailwindcss";

:root {
    --color-primary: #181823;
    --color-secondary: #f3f4f4;
    --color-container:#15151f; 
}

body {
    min-height: 100vh;
    font-family: "Wix Madefor Text", "Wix Madefor Text Fallback", system-ui, sans-serif;
    background-color: var(--color-primary);
}
#root {
    min-height: 100vh;
}
